/* footer.module.css */
.iconImage {
    filter: invert(73%) sepia(1%) saturate(0%) hue-rotate(180deg);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.iconImage:hover {
    transform: translateY(-3px);
    opacity: 0.8;
}

/* header.module */
.navbarContentButtons{
    transition: all 0.3s ease;
    transition: transform 0.3s ease;
}


.navbarContentButtons:hover {
    background-color: #007BFF;
    color: white;
}


  
.skillIcon {
    width: 3rem;
    height: 3rem;
    filter: invert(31%) sepia(99%) saturate(989%) hue-rotate(198deg) brightness(95%) contrast(101%);
}
